include ./mixins/icon

-
	var socials = [{
	href: 'https://vk.com/cultrf',
	title: 'Вконтакте',
	icon: 'vk'
	}, {
	href: 'https://twitter.com/cultrf',
	title: 'Twitter',
	icon: 'twitter'
	}, {
	href: 'https://ok.ru/cultrf',
	title: 'Одноклассники',
	icon: 'ok'
	}, {
	href: 'https://www.facebook.com/cultrf',
	title: 'Facebook',
	icon: 'facebook'
	}, {
	href: 'https://www.instagram.com/cultrf/',
	title: 'Instagram',
	icon: 'insta'
	}];

